In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 1. What is the average total_bill for each day?

In [4]:
df.groupby('day')['total_bill'].mean()

day
Thur    17.682742
Fri     17.151579
Sat     20.441379
Sun     21.410000
Name: total_bill, dtype: float64

### 2.What is the total tip given by sex?

In [5]:
df.groupby('sex')['total_bill'].sum()

sex
Male      3256.82
Female    1570.95
Name: total_bill, dtype: float64

### 3. How does the average total_bill differ between smokers and non-smokers?

In [6]:
df.groupby('smoker')['total_bill'].mean()

smoker
Yes    20.756344
No     19.188278
Name: total_bill, dtype: float64

### 4. What is the average tip given for each size of party?

In [7]:
df.groupby("size")['tip'].mean()

size
1    1.437500
2    2.582308
3    3.393158
4    4.135405
5    4.028000
6    5.225000
Name: tip, dtype: float64

### 5. What is the average total_bill and tip for each time (lunch vs. dinner)?

In [10]:
df.groupby('time')['total_bill','tip'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_31020\3726857465.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('time')['total_bill','tip'].mean()

        total_bill       tip
time
Lunch    17.168676  2.728088
Dinner   20.797159  3.102670

### 6. How does the average total_bill vary by day and size of the party?

In [12]:
df.groupby(['day','size'])['total_bill'].mean().fillna(0)

day   size
Thur  1       10.070000
      2       15.156875
      3       19.160000
      4       29.950000
      5       41.190000
      6       30.383333
Fri   1        8.580000
      2       16.321875
      3       15.980000
      4       40.170000
      5        0.000000
      6        0.000000
Sat   1        5.160000
      2       16.837170
      3       25.509444
      4       29.876154
      5       28.150000
      6        0.000000
Sun   1        0.000000
      2       17.560000
      3       22.184000
      4       26.688333
      5       27.000000
      6       48.170000
Name: total_bill, dtype: float64

### 7. What is the total tip given on each day of the week?

In [13]:
df.groupby('day')['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

### 8. How does the average tip vary between smokers and non-smokers across different days?

In [14]:
df.groupby(['smoker','day'])['tip'].mean()

smoker  day
Yes     Thur    3.030000
        Fri     2.714000
        Sat     2.875476
        Sun     3.516842
No      Thur    2.673778
        Fri     2.812500
        Sat     3.102889
        Sun     3.167895
Name: tip, dtype: float64

### 9. What is the maximum total_bill for each size of party?

In [15]:
df.groupby('size')['total_bill'].max()

size
1    10.07
2    40.55
3    50.81
4    48.33
5    41.19
6    48.17
Name: total_bill, dtype: float64

### 10. How does the average tip change with size of the party and time of day?

In [18]:
df.groupby(['time','size'])['tip'].mean()

time    size
Lunch   1       1.875000
        2       2.423077
        3       2.754000
        4       4.218000
        5       5.000000
        6       5.300000
Dinner  1       1.000000
        2       2.661923
        3       3.490000
        4       4.122500
        5       3.785000
        6       5.000000
Name: tip, dtype: float64